/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121;
 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A; */

@import url(http://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);


:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --background-color: #2F303A;
  
}
 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
  
}

.logo {
  font-family:  "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
}

.web {
  color:#2196F3;
}

.navigation li{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--title-text-color#212121);
}

.main-menu{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.works-name {
 font-size: 18px;
}
.work-type {
  font-size: 16px;
  color: var(--primary-text-color#757575);
}

footer {
  background-color: var(--primary-text-color#757575);
}

footer .logo {
  color: var(--primary-white-color #ffffff);
}
.adress {
  color: var(--primary-white-color #ffffff);
}

.mail-phone {
 
}

.join {

  color: var(--primary-white-color #ffffff);
}

.subscribe {
  color: var(--primary-white-color #ffffff);
}

.bullet-points {
font-weight: bold;

}
.heading{
font-size: 36px;
font-weight: bold;
}

.description {

  
}

.what-we-do {
  font-weight: bold;
  color: var(--primary-white-color #ffffff);
}
.name {

  font-size: 16px;
  font-weight: medium;
}
.profession {

  font-size: 16px;
  
}